* {
    /* color: white; */
    font-size: 1.1rem;
}

body {
    background-color: #2F2F2F;
}

/* #wrapper {
    max-width: 960px;
    margin: auto;
} */

/* .background {
    display: flex;
} */

[hidden] {
	display: none !important;
}

.foreground {
    text-align: center;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
}

.button {
    border: none;
    border-radius: 25px;
    padding: .5rem 1rem;
    color: black;
    background-color: #C86940;
    transition: transform .17s;
}

.button:hover {
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
}

.button:active {
    transform: scale(.9)
}

.cat-button {
    border: none;
    border-radius: 25px;
    opacity: 50%;
    max-width: 160px;
    margin: 1rem;
    background-color: white;
    transition: transform .17s;
}

.cat-button img {
    max-width: 140px;
    border-radius: 25px;
}

.cat-button:hover {
    opacity: 100%;
    transform: scale(1.25);
}

.cat-button:active {
    transform: scale(.8);
}

.cat-button:nth-child(1) {
    position: absolute;
    top: 32%;
    left: 6%;
}

.cat-button:nth-child(2) {
    position: absolute;
    top: 3%;
    left: 31%;
}

.cat-button:nth-child(3) {
    position: absolute;
    top: 45%;
    left: 71%;
}

.cat-button:nth-child(4) {
    position: absolute;
    top: 63%;
    left: 58%;
}

.cat-button:nth-child(5) {
    position: absolute;
    top: 66%;
    left: 8%;
}

.cat-button:nth-child(6) {
    position: absolute;
    top: 9%;
    left: 80%;
}

.cat-button:nth-child(7) {
    position: absolute;
    top: 77%;
    left: 40%;
}

.cat-button:nth-child(8) {
    position: absolute;
    top: 51%;
    left: 22%;
}

.cat-button:nth-child(9) {
    position: absolute;
    top: 24%;
    left: 63%;
}

.cat-button:nth-child(10) {
    position: absolute;
    top: 16%;
    left: 46%;
}

.cat-button:nth-child(11) {
    position: absolute;
    top: 73%;
    left: 77%;
}

.cat-button:nth-child(12) {
    position: absolute;
    top: 10%;
    left: 15%;
}

h1 {
    color: #F38453;
}

.foreground p {
    color: #F1F1F1;
}

/* -----------------MODAL----------------- */

.modal {
	height: 100vh;
	width: 100vw;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.modal .blanket {
	background-color: rgba(0, 0, 0, .8);

	height: 100vh;
	width: 100vw;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

.modal-body {
	background-color: #fff;
	border: none;

	height: 50vh;
	max-width: 50vw;

	position: relative;
	z-index: 101;

	padding: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	font-size: 2rem;
	font-weight: 300;
    text-align: center;
}

